* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

main {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.download-btn-container {
  justify-content: center;
}

.download-btn {
  display: block;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.github-link {
  display: block;
  margin: 1rem auto;
  color: #333;
  text-decoration: none;
}
