* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  align-items: center;
}

.form {
  justify-content: center;
  align-items: center;
}

label, textarea {
  display: block;
  flex-direction: column;
  align-items: center;
}

/*

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

office {
  display: flex;
  flex-direction: row;
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: none;
}

.download-btn-container {
  justify-content: center;
  align-items: center;
}

.download-btn {
  display: block;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  background-color: #333;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
  align-items: center;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.github-link {
  display: block;
  margin: 1rem auto;
  color: #333;
  text-decoration: none;
}

*/

.expand-trigger {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
}

.expand-trigger:hover {
  background-color: #ddd;
}

.expand-content {
  padding: 20px;
  display: none;
  overflow: hidden;
  border: solid #111;
}